<form
  method="post"
  enctype="multipart/form-data"
  style="
    display: flex;
    flex-direction: column;
    justy-content: center;
    align-items: center;
  ">
  {% csrf_token %}
  <input type="file" accept="application/pdf" name="files" required />
  <input
    type="password"
    name="password"
    placeholder="enter password"
    required />
  <div>
    <label for="type">Type: </label>

    <select name="type">
      <option value="cams" default>cams</option>
      <option value="paytm">paytm</option>
    </select>
  </div>
  <button type="submit">Upload</button>
</form>
